[
    {elvis, [
        {config, [
            #{
                dirs => ["src"],
                filter => "*.erl",
                ruleset => erl_files
            },
            #{
                dirs => ["_build/default/lib/regnal/ebin"],
                filter => "*.beam",
                ruleset => beam_files
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            }
        ]}
    ]}
].
