otp_path: "/home/brosas/.asdf/installs/erlang/26.2.1"
plt_path: "_build/default/.plt"
elvis_config_path: ".elvis.config"

apps_dirs:
  - "_build/default/lib/*"

include_dirs:
  - "_build/default/lib/*/include"
  - "include"

diagnostics:
  enabled:
    - dialyzer
    - crossref

lenses:
  enabled:
    - ct-run-test
  disabled:
    - show-behaviour-usages

providers:
  enabled:
    - signature-help
