{erl_opts, [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{minimum_otp_vsn, "25"}.

{project_plugins, [
    erlfmt,
    rebar3_format,
    rebar3_hank,
    rebar3_lint
]}.

{format, [
    {files, ["config/**/*.config", "src/**/*.app.src", "src/**/*.erl", "test/**/*.erl", "*.config"]},
    {formatter, erlfmt_formatter}
]}.

{hank, [{ignore, ["test/*/**"]}]}.

{dialyzer, [{warnings, [no_return, unmatched_returns, error_handling, unknown]}]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls, deprecated_functions]}.

{shell, [{apps, [regnal]}]}.

{elvis_output_format, colors}.
